.project__Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 70hv;
}
.project__Containerspan{

  color:orangered ;
  font-size: 2rem;
  font-weight: bold;
}
.project__Container.swiper{
  overflow: visible !important;

}
.project__Container.slider{
margin: top 3rem; 
width: 100%;
}
.project__Container.swiper-slider{
  width: 20rem;
}
.project__Container img{
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
  border-radius: 19px;
}
