.display__Contact{
    padding: 10px;
    color: orangered;
    text-align: center;
}
.color_sec{
    padding-left: 10px;
    color: rgb(167, 36, 108);
    font-size: large;
    font-weight: bolder;
}
.color__123{
    color: rgb(238, 100, 9);

}
