experience{
    /* border: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
}
.achivements{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.circle{
    padding: 10px;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
}
.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom,#fba287 0%,#ffc05c 100%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxshadwow);
}

.achivements span:nth-of-type(2){
    color: var(--orange);
}
.line1{
    padding: 1%;
    color: orangered;
    font-size:large;
    font-weight: bolder;    
}
.line2{
    padding: 1%;
    color: orangered;
    font-size:large;
    font-weight: bolder;    
}
.line3{
    padding: 1%;
    color: orangered;
    font-size:large;
    font-weight: bolder;    
}
.line4{
    padding: 1%;
    color: orangered;
    font-size:large;
    font-weight: bolder;    
}
/* @media screen and (max-width: 480px)
.experience{
    transform:scale(0.7);

    } */
   
