@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat&display=swap');

.skilContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}
.skillContainer__text{
color: white;
text-align: left;
max-width: 500px;
margin-bottom: 20px;

}
.skilContainer__text>h2{
    font-size: 30px;
    font-weight: 500;
}
.skilContainer__image{
    flex:0.4;
    margin-right: 100px;
}
.skilContainer__image img{
    height:55vh;
     border-radius: 3px;
     object-fit: contain;
     box-shadow: inset 0 0 0 2000px rgba(0, 0, 0,0.5 );
}
.skillContainer__skillSet>h5{
    font-family: "Montserrat",sans-serif;
}
.skillContainer__slider>.MuliLinearProgess-colorPrimary{
    background-color: rgb(88, 88,88);
}
